@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins;
}

.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.embedded-site {
  width: 100%;
  height: 100%;
  border: none;
}

.chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  filter: none;
  transform: none;
  opacity: 1;
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000px;
}

.chat-footer {
  border: none;
}

.suggestions-button {
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.suggestions-button:hover {
  background-color: rgb(249, 250, 251);
}

.suggestions-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.suggestions-button:focus-visible {
  box-shadow: none;
}
